<article class="optin">
    <div class="container">
        <div class="author_content">
            <div class="author_content_img">
                <a href="https://professorjean.com" target="_blank">
                    <img style="max-width: 150%" class="rounded" src="/res/admin/dist/img/author.png" alt="Jean Alves Cabral - Naturologista Clínico" title="Jean Alves Cabral - Naturologista Clínico"/>
                </a>
            </div>
            <header class="author_content_header">
                <a href="https://professorjean.com" target="_blank" style="color:#fff;">
                    <h1>Gabinete do Prof. Dr. Jean Alves Cabral</h1>
                </a>
                <p>Rua Lourdes Casé Porto, nº 51, sala 602 – Empresarial Times Business Center – Caruaru – Pernambuco, Brasil, CEP 55012-075; Telefone (Whats/Telegram): 81 9 9960.8811</p>
                <p><b>email: jeannaturologia@gmail.com</b></p>
                <p><b>Gabinete Registrado no ISS-Fixo nº 906.131-06 na SEFIN/Caruaru</b></p>
                <p><b>Código de Atividade: 60.036/Terapeuta Naturista – Ministério do Trabalho: CBO 2263-20 & 3221-15</b></p>
            </header>
        </div>
    </div>
</article>


<footer class="main_footer">
    <div>&COPY; <a href="https://naturologiaclinica.org" target="_blank">naturologiaclinica.org</a> - Todos os direitos reservados!</div>
</footer>
</body>
</html>