<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="/res/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/res/admin/bootstrap/js/bootstrap.min.js"></script>
<!-- Select2 -->
<script src="/res/admin/plugins/select2/select2.full.min.js"></script>
<!-- AdminLTE App -->
<script src="/res/admin/dist/js/app.min.js"></script>

<!-- Step Form Wizard plugin -->
<script src="/res/admin/plugins/step-form-wizard/js/step-form-wizard.js"></script>

<!-- nicer scroll in steps -->
<script src="/res/admin/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- validation library http://parsleyjs.org/ -->
<script src="/res/admin/plugins/parsley/parsley.js"></script>

<!-- iCheck 1.0.1 -->
<script src="/res/admin/plugins/iCheck/icheck.min.js"></script>


<script type="text/javascript" src="/res/admin/plugins/summernote/summernote.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location;
        var element = $('ul.sidebar-menu a').filter(function () {
            return this.href == url || url.href.indexOf(this.href) == 0;
        });
        $(element).parentsUntil('ul.sidebar-menu', 'li').addClass('active');
    });
</script>

<script>
    'use strict';

    (function($) {
        window.ParsleyValidator
            .addValidator('validcnpj', function (value, requirement) {
                var   cnpj        = value.replace(/[^0-9]/g, '')
                    , len         = cnpj.length - 2
                    , numbers     = cnpj.substring(0,len)
                    , digits      = cnpj.substring(len)
                    , add         = 0
                    , pos         = len - 7
                    , invalidCNPJ = [
                        '00000000000000',
                        '11111111111111',
                        '22222222222222',
                        '33333333333333',
                        '44444444444444',
                        '55555555555555',
                        '66666666666666',
                        '77777777777777',
                        '88888888888888',
                        '99999999999999'
                    ]
                    , result
                ;


                if ( cnpj.length < 11 || $.inArray(cnpj, invalidCNPJ) !== -1 ) {
                    return false;
                }

                for (i = len; i >= 1; i--) {
                    add = add + parseInt(numbers.charAt(len - i)) * pos--;
                    if (pos < 2) { pos = 9; }
                }

                result = (add % 11) < 2 ? 0 : 11 - (add % 11);
                if (result != digits.charAt(0)) {
                    return false;
                }

                len = len + 1;
                numbers = cnpj.substring(0,len);
                add = 0;
                pos = len - 7;

                for (i = 13; i >= 1; i--) {
                    add = add + parseInt(numbers.charAt(len - i)) * pos--;
                    if (pos < 2) { pos = 9; }
                }

                result = (add % 11) < 2 ? 0 : 11 - (add % 11);
                if (result != digits.charAt(1)) {
                    return false;
                }

                return true;

            }, 32)
            .addMessage('pt-br', 'validcnpj', 'Este campo deve ser um CNPJ válido.');

    }(window.jQuery));
</script>

<script>
    'use strict';

    (function($) {
        window.ParsleyValidator
            .addValidator('validcpf', function (value, requirement) {
                var   cpf        = value.replace(/[^0-9]/g, '')
                    , compareCPF = cpf.substring(0, 9)
                    , add        = 0
                    , i, u
                    , invalidCPF = [
                        '00000000000',
                        '11111111111',
                        '22222222222',
                        '33333333333',
                        '44444444444',
                        '55555555555',
                        '66666666666',
                        '77777777777',
                        '88888888888',
                        '99999999999'
                    ]
                ;


                if ( cpf.length < 11 || $.inArray(cpf, invalidCPF) !== -1 ) {
                    return false;
                }

                for (i = 8, u = 2; i >= 0; i--, u++) {
                    add = add + parseInt(cpf.substring(i, i+1)) * u;
                }

                compareCPF = compareCPF + ( (add % 11) < 2 ? 0 : 11 - (add % 11));
                add = 0

                for (i = 9, u = 2; i >= 0; i--, u++) {
                    add = add + parseInt(cpf.substring(i, i+1)) * u;
                }

                compareCPF = compareCPF + ( (add % 11) < 2 ? 0 : 11 - (add % 11));

                if (compareCPF !== cpf) {
                    return false;
                }

                return true;

            }, 32)
            .addMessage('pt-br', 'validcpf', 'Este campo deve ser um CPF válido.');

    }(window.jQuery));

    $(document).ready(function() {

        function limpa_formulário_cep() {
            // Limpa valores do formulário de cep.
            $("#EndRua").val("");
            $("#EndBairro").val("");
            $("#EndCidade").val("");
            $("#EndEstado").val("");
        }

        //Quando o campo cep perde o foco.
        $("#EndCep").blur(function() {

            //Nova variável "cep" somente com dígitos.
            var cep = $(this).val().replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep != "") {

                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                // if(validacep.test(cep)) {

                    //Apaga os campos enquanto consulta webservice.
                    $("#EndRua").val("");
                    $("#EndBairro").val("");
                    $("#EndCidade").val("");
                    $("#EndEstado").val("");

                    //Consulta o webservice viacep.com.br/
                    $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                        if (!("erro" in dados)) {
                            //Atualiza os campos com os valores da consulta.
                            $("#EndRua").val(dados.logradouro);
                            $("#EndBairro").val(dados.bairro);
                            $("#EndCidade").val(dados.localidade);
                            $("#EndEstado").val(dados.uf);

                            $("#EndRua").attr("disabled",false);
                            $("#EndNumero").attr("disabled",false);
                            $("#EndComplemento").attr("disabled",false);
                            $("#EndBairro").attr("disabled",false);
                            $("#EndCidade").attr("disabled",false);
                            $("#EndEstado").attr("disabled",false);

                            $('#EndNumero').focus();
                        } //end if.
                        else {
                            //CEP pesquisado não foi encontrado.
                            limpa_formulário_cep();
                            alert("CEP não encontrado.");
                        }
                    });
                 //end if.

            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
        });
    });

</script>

<script>
    function somenteNumeros(num) {
        var er = /[^0-9]/;
        er.lastIndex = 0;
        var campo = num;
        if (er.test(campo.value)) {
            campo.value = "";
        }
    }

    function FormataData(campo, teclapres){
        var tecla = teclapres.keyCode;
        var vr = new String(campo.value);
        vr = vr.replace("/", "");
        tam = vr.length + 1;
        if (tecla != 8)
        {
            if (tam == 3)
                campo.value = vr.substr(0, 2) + '/';
            if (tam == 5)
                campo.value = vr.substr(0, 2) + '/' + vr.substr(2, 2) + '/';
            if (tam == 11)
                campo.value = vr.substr(0, 2) + '/' + vr.substr(2, 2) + '/' + vr.substr(6, 4);
        }
    }
</script>

<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();
    });
</script>

<script>
    function recuperaConteudoDinamico(sArquivo,sParametros,sIdDivInsert){

        oDiv = document.getElementById(sIdDivInsert);
        sArquivo = sArquivo+'/'+sParametros;

        $.ajax({
            dataType: "html",
            type: "GET",
            beforeSend: function(oXMLrequest){
                oDiv.innerHTML = "Aguarde... carregando...";
            },
            url: sArquivo,
            error: function(oXMLRequest,sErrorType){
                alert(oXMLRequest.responseText);
                alert(oXMLRequest.status+' , '+sErrorType);
            },
            success: function(data){

                oDiv.innerHTML = data;
            }
        });
    }
</script>