<header class="main_header">
    <div class="container main_header_content">
        <div class="main_header_content_headline">
            <h1>ENCONTRO: Saúde e Qualidade de Vida</h1>
            <h4>Tema: As Terapias Naturais ao Alcance de Todos</h4>
            <h4>A verdadeira medicina natural você encontra aqui! Faça sua inscrição clicando no botão ao lado.</h4>
        </div>
        <div class="main_header_content_cta">
            <a href="/inscricao" target="_blank"><span class="button_cta transition radius main_header_content_cta_btn">FAÇA SUA INSCRIÇÃO</span></a>
            <h5 style="color: #fff;">Para participar, é preciso clicar neste botão acima e preencher os dados solicitados. Se desejar o Certificado, válido no MEC, emitido por Faculdade Credenciada, observe as informações abaixo.</h5>
        </div>
    </div>
</header>


<section class="bullet_points">
    <header class="bullet_points_header">
        <div class="col-md-12">
            <div class="col-md-12 col-sm-8 mx-auto">
                <h2>Faça a sua inscrição e participe</h2>
            </div>
            <h3>Faça a sua inscrição</h3>
        </div>
        <p><strong>Vagas Limitadas – Inscrições se Encerram Quando Forem Preenchidas</strong></p>
    </header>

    <div class="container bullet_points_content">

        <article class="bullet_points_content_item">
            <div class="img">
                <img src="/res/admin/dist/img/email.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
            </div>
            <div class="bullet">
                <h2>Faça contato conosco a qualquer momento no TELEGRAM ou WHATSAPP no número (81) 9.9960.8811</h2>
            </div>
        </article>

        <article class="bullet_points_content_item">
            <div class="img">
                <img src="/res/admin/dist/img/coach.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
            </div>
            <div class="bullet">
                <h2>Um Colegiado de Experientes Profissionais, que são Professores de Terapias Naturais, reunidos em Caruaru, no SENAC, para um Encontro Memorável!</h2>
            </div>
        </article>

        <article class="bullet_points_content_item">
            <div class="img">
                <img src="/res/admin/dist/img/questionario.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
            </div>
            <div class="bullet">
                <h2>As Terapias Naturais que ensinamos e utilizamos são: ar, água, terra, alimento, luz, plantas, exercícios, jejum, repouso, toque, diálogo, trabalho, artes, fé em Deus, a família e exame de consciência, dentre outras.</h2>
            </div>
        </article>

        <article class="bullet_points_content_item">
            <div class="img">
                <img src="/res/admin/dist/img/parceiro.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
            </div>
            <div class="bullet">
                <h2>Nosso Tema: Como ter saúde e qualidade de vida através das Terapias Naturais?</h2>
            </div>
        </article>

    </div>
</section>

<article class="optin" id="inscricao">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/v_9jgKouDFs" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="border: 0" allowfullscreen></iframe>
            </div>

            <div class="col-md-6">
                <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/WcZ1LzF2crY" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" style="border: 0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</article>

<section class="bullet_points">

    <header class="bullet_points_header">
        <div class="col-md-12">
            <div class="col-md-12 col-sm-8 mx-auto">
                <h2>Entenda o Que São as Terapias Naturais</h2>
            </div>
            <h3>Terapias Naturais<</h3>
        </div>
    </header>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="facilitador">
                    <li>
                        <div class="facilitador-image">
                            <img class="img-circle img-responsive" src="/res/admin/dist/img/circle/01.png" alt="">
                        </div>
                        <div class="facilitador-panel">
                            <div class="facilitador-heading">
                                <br><br>
                                <h4 class="subheading">Primeiro, você clica aqui no site no botão de cor laranja e faz sua inscrição, garantindo seu lugar no Centro de Convenções, gerando um número de inscrição.</h4>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="facilitador-inverted">
                        <div class="facilitador-image">
                            <img class="img-circle img-responsive" src="/res/admin/dist/img/circle/02.png" alt="">
                        </div>
                        <div class="facilitador-panel">
                            <div class="facilitador-heading">
                                <br><br>
                                <h4 class="subheading">Segundo, você será colocado num Grupo do TELEGRAM onde todos os participantes estarão reunidos e serão informados de detalhes sobre o Encontro.</h4>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li>
                        <div class="facilitador-image">
                            <img class="img-circle img-responsive" src="/res/admin/dist/img/circle/03.png" alt="">
                        </div>
                        <div class="facilitador-panel">
                            <div class="facilitador-heading">
                                <br><br>
                                <h4 class="subheading">Terceiro, nossa Assessoria de Gabinete vai entrar em contato e verificar se Você deseja o Certificado de Participação no Evento, que é expedido por um Faculdade (válido no MEC). Este Certificado têm o valor de R$80,00 e, se Você for “Especial”, terá abatimento de 50% neste valor. Quem são os Especiais? Somente: Professores de qualquer área, Estudantes de qualquer área e Profissionais de Saúde.</h4>
                            </div>
                        </div>
                        <div class="line"></div>
                    </li>
                    <li class="facilitador-inverted">
                        <div class="facilitador-image">
                            <img class="img-circle img-responsive" src="/res/admin/dist/img/circle/04.png" alt="">
                        </div>
                        <div class="facilitador-panel">
                            <div class="facilitador-heading">
                                <br><br>
                                <h4 class="subheading">Quarto, pronto! Estará em nosso Evento. Não se esqueça: dia 19/11/2023 – Domingo, das 08h às 22h</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</section>

<section class="optin">
    <hr>
</section>

<section class="bullet_points">
    <header class="bullet_points_header">
        <div class="col-md-12">
            <div class="col-md-12 col-sm-8 mx-auto">
                <h2>Nosso Encontro Será no SENAC de Caruaru (PE) – Dia 19/11/2023</h2>
            </div>
            <h3>Nosso Encontro</h3>
        </div>
    </header>

    <div class="container bullet_points_content" id="bg-mapa">

        <div class="container">
            <div class="row">
                <div class="offset-2 offset-md-0 col-md-8 col-sm-5 col-md-5 col-lg-6 box_mapa_local">
                    <div id="carouselExampleSlidesOnly" class="carousel slide p-2" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/res/admin/dist/img/slide-07.png" alt="Primeiro slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/res/admin/dist/img/slide-08.png" alt="Segundo slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/res/admin/dist/img/slide-09.png" alt="Terceiro slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/res/admin/dist/img/slide-10.png" alt="Quarto slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/res/admin/dist/img/slide-11.png" alt="Quinto slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/res/admin/dist/img/slide-12.png" alt="Sexto slide">
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <p>Todos os detalhes sobre nosso Encontro, poderão ser verificados diretamente com o contato Telegram ou WhatsApp: (81) 9.9960.8811. As inscrições são limitadas e se encerram quando forem preenchidas. O total é de 600 lugares.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="optin">
    <hr>
</section>

<header class="bullet_points_header">
    <div class="col-md-12">
        <div class="col-md-12 col-sm-8 mx-auto">
            <h2>Dúvidas Mais Frequentes</h2>
        </div>
        <h3>Dúvidas Mais Frequentes</h3>
    </div>
</header>

<section>

    <div class="container bullet_points_content" style="display: inherit !important;">

        <div class="box-body">
            <div class="box-group" id="accordion">
                <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                <div class="panel box box-success">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                1. O que é nosso Encontro Sobre Saúde e Qualidade de Vida?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="box-body">
                            É uma exposição, feita por oito (8) profissionais de Terapias Naturais, que são membros da Academia Brasileira de Ciências, Artes, História e Literatura (ABRASCI) e alguns convidados especiais. As apresentações serão feitas no formato de Aulas/Conferências, no Palco, com utilização de recursos audiovisuais no telão, com o propósito de expor o seguinte Tema: “Como Ter Saúde e Qualidade de Vida Através das Terapias Naturais?”
                        </div>
                    </div>
                </div>
                <div class="panel box box-success">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                2. Onde, Quando e Quais as Condições Para Participação?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="box-body">
                            Qualquer pessoa com idade superior a 14 anos poderá participar deste Encontro. A data do Evento é 19 de novembro de 2023. O horário de início será 08h e terminará às 22h. O local é o Centro de Convenções do SENAC de Caruaru, que fica na Avenida Maria José Lyra, nº 1000, Bairro Indianápolis, CEP 55026-075, Caruaru, Pernambuco, Brasil.<br>
                            Para que seja feita a inscrição o interessado deverá cadastrar-se em nosso Site: <a href="https://convite.naturologiaclinica.org">convite.naturologiaclinica.org</a> até o dia 14/11/2023. Há uma Certificação Especial que é oferecida aos Participantes, conforme regras específicas explicadas no referido Site.

                        </div>
                    </div>
                </div>
                <div class="panel box box-success">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                3. Como Funciona a Certificação Especial?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="box-body">
                            Todos os participantes são convidados a efetuar o pagamento de uma taxa que e expedida pelo Coordenador Geral do Evento, Prof. Jean Alves Cabral, no valor de R$80,00 (oitenta reais) e permite o recebimento do Certificado que é chancelado pela Faculdade ISCECAP como “Evento de Extensão Acadêmica” – para quem desejar estar nesta cobertura. Todos os que forem “Professores, Estudantes e Profissionais de Saúde” estão cobertos com um abatimento de 50% do valor desta taxa, isto é, o valor é de R$40,00 (quarenta reais) e deve ser pago mediante ajuste com a Secretaria do Gabinete no Telegram ou WhatsApp: (81) 9.9960.8811.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="optin">
    <hr>
</section>

<section class="bullet_points">
    <header class="bullet_points_header">
        <div class="col-md-12">
            <div class="col-md-12 col-sm-8 mx-auto">
                <h2>Palestrantes</h2>
            </div>
            <h3>Palestrantes</h3>
        </div>
    </header>

    <div class="container bullet_points_content">

        <article class="bullet_points_content_item">
            <div class="img">
                <img src="/res/admin/dist/img/jean_cabral.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
            </div>
            <div class="bullet">
                <h2><strong>Amplitude da Ciência da Naturologia Clínica</strong></h2>
                <h2>Prof. Jean Alves Cabral<br>Naturologista<br>Pedagogo<br>Teólogo</h2>
            </div>
        </article>

        <article class="bullet_points_content_item">
            <div class="img">
                <img src="/res/admin/dist/img/eduardo_monteiro.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
            </div>
            <div class="bullet">
                <h2><strong>Raízes da Filosofia de Naturologia Clínica e a Cura Profunda</strong></h2>
                <h2>Prof. Eduardo Monteiro<br>Naturologista<br>Quiropraxista</h2>
            </div>
        </article>

        <article class="bullet_points_content_item">
            <div class="img">
                <img src="/res/admin/dist/img/veridiano_gadelha.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
            </div>
            <div class="bullet">
                <h2><strong>Painel: Quais São Todas as Técnicas Naturais?</strong></h2>
                <h2>Prof. Veridiano Gadelha<br>Naturologista<br>Nutricionista<br>Quiropraxista</h2>
            </div>
        </article>

        <article class="bullet_points_content_item">
            <div class="img">
                <img src="/res/admin/dist/img/celia_rabello.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
            </div>
            <div class="bullet">
                <h2><strong>Grandes Nomes da Medicina Natural e Nossa Obra no Brasil</strong></h2>
                <h2>Profª. Céllia Rabello<br>Naturologista</h2>
            </div>
        </article>

        <article class="bullet_points_content_item">
            <div class="img">
                <img src="/res/admin/dist/img/mary_mendes.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
            </div>
            <div class="bullet">
                <h2><strong>Quando a Arte se Encontra com a Espiritualizadade e Surge a Cura</strong></h2>
                <h2>Profª. Mary Mendes<br>Naturologista<br>Pedagoga</h2>
            </div>
        </article>

        <article class="bullet_points_content_item">
            <div class="img">
                <img src="/res/admin/dist/img/keyla_leao.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
            </div>
            <div class="bullet">
                <h2><strong>A Felicidade Depende do Claro Entendimento Sobre o Amor</strong></h2>
                <h2>Profª. Keyla Leão</h2>
            </div>
        </article>

        <article class="bullet_points_content_item">
            <div class="img">
                <img src="/res/admin/dist/img/marcio_wendel.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
            </div>
            <div class="bullet">
                <h2><strong>As Leis Naturais, a Terapêutica Naturista e a Experiência com a Natureza</strong></h2>
                <h2>Prof. Marcio Wendel<br>Naturologista<br>Médico Homeopata<br>Pedagogo</h2>
            </div>
        </article>

        <article class="bullet_points_content_item">
            <div class="img">
                <img src="/res/admin/dist/img/prof-guilherme-leeroy.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
            </div>
            <div class="bullet">
                <h2><strong>As Leis Naturais, a Terapêutica Naturista e a Experiência com a Natureza</strong></h2>
                <h2>Prof. Guilherme Leeroy<br>Naturologista<br>Quiropraxista</h2>
            </div>
        </article>

        <article class="bullet_points_content_item">
            <div class="img">
                <img src="/res/admin/dist/img/prof-jose-tavares.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
            </div>
            <div class="bullet">
                <h2><strong>As Leis Naturais, a Terapêutica Naturista e a Experiência com a Natureza</strong></h2>
                <h2>Prof. José Tavares<br>Naturologista<br>Teólogo</h2>
            </div>
        </article>

    </div>
</section>

<section class="optin">
    <hr>
</section>

<section class="bullet_points">

    <header class="bullet_points_header">
        <div class="col-md-12">
            <div class="col-md-12 col-sm-8 mx-auto">
                <h2>Saúde Não Se Adquire, Se Cultiva!</h2>
            </div>
        </div>
    </header>

    <div class="container bullet_points_content">

        <article class="bullet_points_content_item">

            <div class="img">
                <a href="https://www.naturologiaclinica.org/" target="_blank">
                    <img src="/res/admin/dist/img/alimento.png" alt="Como a Água Elimina Desidratação Celular?"/>
                </a>
            </div>
            <div class="bullet">
                Saiba mais sobre o Mundo das Terapias Naturais (Naturologia Clínica) clique na imagem e visite nosso Site/Curso Superior: <a href="https://naturologiaclinica.org" target="_blank">naturologiaclinica.org</a>
            </div>

        </article>

        <article class="bullet_points_content_item">
            <div class="img">
                <a href="https://www.facebook.com/naturologiaclinica" target="_blank">
                    <img src="/res/admin/dist/img/mercado.png" alt="Como Evitar e Vencer Qualquer Doença Física?" title="Como Evitar e Vencer Qualquer Doença Física?"/>
                </a>
            </div>
            <div class="bullet">
                <a href="https://t.me/+TIaA0L0f2Uw3Nzdh" target="_blank">
                    <h2>Venha fazer parte de nossa Comunidade no TELEGRAM no Grupo: “Seminário de Saúde Natural”. É gratuito! Clique na imagem.
                        https://t.me/+TIaA0L0f2Uw3Nzdh</h2>
                </a>
            </div>
        </article>

    </div>
</section>

<div class="container">
    <div class="main_cta">
        <a href="https://naturologiaclinica.org/inscricao" target="_blank"><span class="button_cta radius transition">Increva-se Agora!</span></a>
    </div>
</div>

<script>
    $('.carousel').carousel({
        interval: 2000
    })
</script>