<header class="main_header">
    <div class="container main_header_content">
        <div class="main_header_content_headline" style="flex-basis:100%">
            <h2>1º GRANDE SIMPÓSIO DE TERAPIAS NATURAIS</h2>
            <h1>Parabéns!</h1>
            <p>Sua inscrição foi realizada com sucesso!</p>
        </div>
        <div class="main_header_content_cta">
            <!--                <iframe src="https://player.vimeo.com/video/275663838?autoplay=1" width="100%" height="250" frameborder="0" allowfullscreen></iframe>-->
        </div>
    </div>
</header>

<section class="bullet_points">

    <header class="bullet_points_header">
        <h1>Facilitadores</h1>
    </header>

    <div class="" style="">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/res/admin/dist/img/prof-jean-cabral.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Prof. Jean Alves Cabral</h4>
                                    <h4 class="subheading">O Caminho da Medicina Natural!<br>Como Se Tornar um Naturologista Clínico?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Naturologista Clínico, Teólogo. Licenciado em Pedagogia, Gestor em Terapias Naturais<br>
                                        Doutor em Naturopatia Científica<br>
                                        Presidente da Associação Geral da Ordem dos Naturologistas do Brasil (Agonab)<br>
                                        Coordenador do Curso Superior de Terapia Naturopática Faculdade CECAP (Brasília, Maceió)Sede: Caruaru/PE, Maceió/AL e Brasília/DF

                                    </p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/res/admin/dist/img/prof-emanuel-linoan.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Prof. Emanuel Linoan Ferreira</h4>
                                    <h4 class="subheading">A Amplitude da Saúde Física a Partir da Condição Músculo-Esquelética Equilibrada</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Quiropraxista, Psicanalista, Osteopatia e Naturologista<br>
                                        Vice-Presidente da Associação Geral da Ordem dos Naturologistas do Brasil (Agonab)<br>
                                        Sede: Aracaju/SE<br>

                                    </p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/res/admin/dist/img/prof-keyla-leao.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Profª Keyla Julianne Leão</h4>
                                    <h4 class="subheading">A Saúde Emocional Depende do Equilíbrio Espiritual</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Escritora, Pedagoga, Psicopedagoga, Youtuber do Canal Keyla Leão – “Orientações para a vida saudável e feliz”<br>
                                        Coordenadora Pedagógica na Rede de Ensino do Estado de Pernambuco<br>
                                        Sede: Caruaru/PE<br>

                                    </p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/res/admin/dist/img/prof-marcio-wendel.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Prof. Márcio Wendel Santana Coelho</h4>
                                    <h4 class="subheading">A Abordagem Integrativa na Medicina Natural e a Mudança no Paradigma da Biomedicina Contemporânea</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Naturologista Clínico, Médico, Químico, Licenciado em Pedagogia, Gestor em Terapias Naturais<br>
                                        Doutor em Ciências da Saúde, Mestre em Educação<br>
                                        Diretor de Relações Internacionais da Agonab<br>
                                        Sede: Feira de Santana/BA e Aracaju/SE<br>

                                    </p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/res/admin/dist/img/prof-neilma-paz.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Profª Neilma Luiza Paz da Silva</h4>
                                    <h4 class="subheading">O Equilíbrio Emocional na Perspectiva da Abordagem Integrativa – Caminhos do Coaching Integrativo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Psicóloga com Especializações em Psicologia Clínica, Organizacional e Saúde Mental; Especialista em Psicologia da Gestão no Trabalho.
                                        Master Coaching
                                        Psicóloga na Prefeitura de Pilar (AL)
                                        Sede: Maceió/AL
                                    </p>
                                </div>
                            </div>
                            <div class="line"></div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/res/admin/dist/img/prof-edvando-maia.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Prof. Edvando Nobre Maia</h4>
                                    <h4 class="subheading">Médico, Especialista em Saúde da Família</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Abordagens Clínicas na Prática Diária do Atendimento Humano
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="bullet_points optin">
    <header class="bullet_points_header">
        <h1>Testemunhos</h1>
    </header>
    <div class="container bullet_points_content">

        <article class="bullet_points_content_item">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/RYEIhZ2ke6o" style="border: 0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </article>

        <article class="bullet_points_content_item">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/-F5UeoegHqs" style="border: 0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </article>

        <article class="bullet_points_content_item">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/WbRNpgax_30" style="border: 0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </article>

        <article class="bullet_points_content_item">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/7I_JvIO9v0g" style="border: 0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </article>

        <article class="bullet_points_content_item">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/tHhRmHHFNl8" style="border: 0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </article>

        <article class="bullet_points_content_item">
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/5_Xep1JBdTg" style="border: 0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </article>

    </div>
</section>